@import "tailwindcss";

:root {
    --font-mono: 'Roboto Mono', monospace;
    --color-dark-red: #862836;
    --color-light-red: #dfafad;
    --color-accent: #bbfcff;
    --color-gray: #5f5f5b;
}

@layer utilities {
    .color-dark-red {
        color: var(--color-dark-red);
    }
    .color-light-red {
        color: var(--color-light-red);
    }
    .color-accent {
        color: var(--color-accent);
    }
    .color-gray {
        color: var(--color-gray);
    }
}

html, body {
    background-color: var(--color-light-red);
    width: 100%;
    overflow-x: hidden;
}

.responsive-body {
    /* 3 cols: empty_content_empty */
    @apply grid grid-cols-[auto_clamp(300px,80%,1100px)_auto];

    & > * {
        /* Constrain children of main to middle column */
        @apply col-start-2 col-end-3;
    }
}

.responsive-fullwidth {
    /* Escape hatch to allow full-width 'breaking out' of the responsive-body grid layout */
    @apply col-start-1 col-end-4;
}